<template>
  <div :class="`border-card bg-${color}`">
    <div style="display: flex; justify-content: space-between">
      <p>{{task.title}}</p>
      <button
          v-if="task.canDelete"
          @click="$emit('delete-task', task)"
          style=""
      ><Trash2Icon/></button>
    </div>
    <b-input v-model="task.description"></b-input>
  </div>
</template>

<script>
import { Trash2Icon } from "vue-feather-icons";
export default {
  name: "Card",
  components: {
    Trash2Icon
  },
  props: {
    task: {
      type: Object
    }
  },
  computed: {
    color() {
      const mappings = {
        low: "primary",
        medium: "warning",
        high: "danger",
        default: "teal"
      };
      return mappings[this.task.priority] || mappings.default;
    }
  }
}
</script>

<style scoped>
.border-card {
  border: solid 1px #6B6B6B
}
</style>