<template>
  <div class="container">
    <h1>Tableau Kanban - TP VueJS</h1>
    <div class="row mt-3">
      <div class="form-inline">
        <b-form>
          <b-form-input v-model="newTask.title"></b-form-input>
          <b-form-select :options="options" v-model="newTask.priority"></b-form-select>
          <b-button @click="addTask">Ajouter</b-button>
        </b-form>
      </div>
    </div>
    <div class="row mt-3">
      <div class="col-md-3 column-border">
        <h3>Backlog - [{{ backlog.length }}]</h3>
        <draggable
            :list="backlog"
            group="tasks"
            class="col-12 column-height column-border"
            @change="moveInBacklog"
        >
          <Card v-for="(task, index) in backlog" :key="task.title" :task="task" @delete-task="removeTask(index)"></Card>
        </draggable>
      </div>
      <div class="col-md-3 column-border">
        <h3>In Progress - [{{ inProgress.length }}]</h3>
        <draggable
            :list="inProgress"
            group="tasks"
            class="col-12 column-height column-border"
            @change="moveInOther"
        >
          <Card v-for="task in inProgress" :key="task.title" :task="task"></Card>
        </draggable>
      </div>
      <div class="col-md-3 column-border">
        <h3>Testing - [{{ testing.length }}]</h3>
        <draggable
            class="col-12 column-height column-border"
            :list="testing"
            group="tasks"
            @change="moveInOther"
        >
          <Card v-for="task in testing" :key="task.title" :task="task"></Card>
        </draggable>
      </div>
      <div class="col-md-3 column-border">
        <h3>Done - [{{ done.length }}]</h3>
        <draggable
            class="col-12 column-height column-border"
            :list="done"
            group="tasks"
            @change="moveInOther"
        >
          <Card v-for="task in done" :key="task.title" :task="task"></Card>
        </draggable>
      </div>
    </div>
  </div>
</template>

<script>
import Card from "@/components/Card";
import draggable from "vuedraggable"

export default {
  name: "kanban-board",
  components: {
    Card,
    draggable
  },
  data() {
    return {
      newTask: {title: "", priority: null},
      backlog: [],
      inProgress: [],
      testing: [],
      done: [],
      options: [
        {value: "low", text: "low"},
        {value: "medium", text: "medium"},
        {value: "high", text: "high"}
      ]
    };
  },
  methods: {
    addTask: function () {
      if (this.newTask) {
        this.backlog.push({
          title: this.newTask.title,
          description: "",
          priority: this.newTask.priority,
          canDelete: true
        });
        this.newTask.title = "";
      }
    },
    removeTask: function (index) {
      this.backlog.splice(index, 1);
    },
    moveInBacklog: function ({added}) {
      added.element.canDelete = true;
    },
    moveInOther: function ({added}) {
      added.element.canDelete = false;
    }
  }
};
</script>

<style>
.column-height {
  min-height: 600px;
  max-height: 800px;
}

.column-border {
  border: solid 1px black;
}
</style>
